@import "./colors";

$cover-width: 160px;
$cover-height: 240px;

.book {
    max-width: $cover-width + 16px;

    &:hover {
        cursor: pointer;

        .book-cover {
            transform: scale(1.025);
            box-shadow: 2px 4px 12px rgba($text-color, 0.6);
        }
    }
}

.book-title {
    font-weight: 700;
    width: $cover-width;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-color-secondary;
    text-shadow: 0 1px 2px rgba($text-color-secondary, 0.1);
}

.book-cover {
    width: $cover-width;
    height: $cover-height;
    color: $action-color-lighter;
    background-color: hsl(hue($action-color-darker), 15%, 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 4px 8px rgba($text-color, 0.6);
    transition-property: transform, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    position: relative;

    &__title,
    &__author {
        text-align: center;
        font-weight: 700;
        padding: 24px 12px;
    }
}

.book-progress {
    width: 100%;
    height: 32px;
    background-color: rgba($text-color, 0.75);
    position: absolute;
    bottom: 0;
    padding: 4px;

    .pages-complete {
        font-size: 0.75em;
        font-weight: 500;
        color: $bg-color-secondary;
        text-align: right;
        padding-right: 8px;
        margin-bottom: 1px;
    }

    .progress-bar {
        height: 4px;
        width: 92%;
        margin: 0 auto;
        background-color: rgba($text-color-secondary, 0.75);
        border-radius: 4px;

        .progress-complete {
            height: 100%;
            background-color: $bg-color-secondary;
            border-radius: 4px;
        }
    }
}
