$bg-color: #fcf7f8;
$bg-color-secondary: #ced3dc;
$text-color: #1b1f22;
$text-color-secondary: lighten($text-color, 35);

$action-color: #7871c1;
$action-color-light-gradient: #a09cd3;
$action-color-lighter: #c3c0ed;
$action-color-darker: #453e8e;
