form {
    label {
        font-weight: 700;
        color: $text-color;
    }

    input[type="text"] {
        width: 100%;
        padding: 4px 12px;
        margin: 4px 0px;
        line-height: 2em;
        font-size: 1em;
        border: none;
        border-radius: 4px;
        box-shadow: 1px 2px 4px rgba($text-color, 0.5);
        background-color: white;

        &:focus {
            outline: none;
            box-shadow: 0 0 4px $action-color, 0 0 4px $action-color, 0 0 4px $action-color,
                1px 2px 4px rgba($text-color, 0.5);
        }
    }

    input[type="radio"] {
        opacity: 0;

        & + .radio-label::after {
            content: none;
        }

        &:checked + .radio-label::after {
            content: "";
        }

        &:focus:checked + .radio-label::before {
            outline: none;
            box-shadow: 0 0 4px $action-color, 0 0 4px $action-color, 0 0 4px $action-color,
                1px 2px 4px rgba($text-color, 0.5);
        }
    }

    .radio-label {
        display: inline-block;
        position: relative;
        cursor: pointer;
        line-height: 48px;

        &::before,
        &::after {
            position: absolute;
            display: inline-block;
        }

        &::before {
            content: "";
            height: 20px;
            width: 20px;
            left: -36px;
            top: 12px;
            background: white;
            border-radius: 50%;
            border: 1px solid $action-color-lighter;
        }

        &::after {
            left: -33px;
            top: 15px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-image: linear-gradient(-180deg, $action-color-light-gradient 0%, $action-color 55%);
        }
    }

    .radio-group {
        @include bp(mobile) {
            margin: 0 auto;
        }
    }

    .button-group {
        @include bp(mobile) {
            display: flex;
            flex-direction: column-reverse;
            margin: 12px auto 0;
        }

        margin-top: 12px;
        text-align: right;

        & > * + * {
            @include bp(desktop) {
                margin-left: 12px;
            }

            @include bp(mobile) {
                margin-bottom: 12px;
            }
        }
    }

    & + .spinner {
        padding-bottom: 24px;
    }
}

#closeButton {
    grid-area: closeButton;
}

#cover {
    grid-area: cover;
}

#titleField {
    grid-area: titleField;
}

#authorField {
    grid-area: authorField;
}

#statusGroup {
    grid-area: statusGroup;
}

#buttonGroup {
    grid-area: buttonGroup;
}

#addBookForm {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 8px 0px;
    padding: 32px;

    @include bp(desktop) {
        grid-template-areas:
            "cover cover . . closeButton"
            "cover cover titleField titleField titleField"
            "cover cover authorField authorField authorField"
            "cover cover . . ."
            "statusGroup statusGroup statusGroup statusGroup statusGroup"
            ". buttonGroup buttonGroup buttonGroup buttonGroup";
    }

    @include bp(mobile) {
        padding: 32px 12px;
        grid-template-columns: 24px auto 24px;
        grid-template-areas:
            ". cover closeButton"
            ". cover ."
            ". cover ."
            ". titleField ."
            ". authorField ."
            "statusGroup statusGroup statusGroup"
            "buttonGroup buttonGroup buttonGroup";
    }

    #closeButton {
        margin-top: -16px;

        @include bp(desktop) {
            margin-right: -36px;
        }

        @include bp(mobile) {
            margin-left: -24px;
        }
    }

    #cover {
        @include bp(desktop) {
            margin: 0 12px 12px;
        }
        @include bp(mobile) {
            margin: 0 auto 12px;
        }
    }

    #statusGroup {
        @include bp(desktop) {
            margin-left: 120px;
        }
        @include bp(mobile) {
            text-align: center;
        }
    }

    #progressGroup {
        @include bp(desktop) {
            float: right;
            margin-right: 56px;
        }

        @include bp(mobile) {
            margin-left: 24px;
        }

        input {
            width: 64px;
        }

        span {
            margin: 0 8px;
        }
    }
}

#searchBookForm {
    display: grid;
    padding: 32px 36px;
    grid-gap: 12px 0px;
    grid-template-rows: 0px auto;
    grid-template-columns: 24px auto auto auto 24px;
    grid-template-areas:
        ". . . . closeButton"
        ". titleField titleField titleField ."
        ". authorField authorField authorField ."
        ". buttonGroup buttonGroup buttonGroup .";

    #closeButton {
        margin-top: -20px;
        margin-left: 4px;
    }
}

.search-results {
    display: flex;
    overflow-x: scroll;
    padding: 0 24px 24px;

    .search-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-right: 48px;
        box-sizing: content-box;

        &:last-child {
            padding-right: 24px;
        }
    }

    .search-title {
        color: $text-color;
        font-weight: bold;
    }

    .search-author {
        color: $text-color-secondary;
    }

    .book-cover {
        width: 120px;
        height: 180px;
        margin-bottom: 12px;
    }

    .action-button {
        width: 96px;
        margin-top: auto;
    }
}
