.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(hue($action-color-darker), 15%, 15%, 0.75);
    z-index: 20;

    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 4px;
        background-color: $bg-color;

        max-height: 96vh;
        overflow-y: scroll;

        @include bp(desktop) {
            width: 640px;
        }

        @include bp(mobile) {
            width: 460px;
        }
    }

    #confirmDeleteModal,
    #infoModal {
        width: 400px;
        padding: 24px;
        text-align: center;

        .button-group {
            & > * + * {
                margin-left: 24px;
            }
        }
    }

    #confirmDeleteModal {
        height: 160px;

        .button-group {
            margin-top: 24px;
        }
    }

    #infoModal {
        height: 120px;

        .button-group {
            margin-top: 12px;
        }
    }
}
