@import "colors";
@import "mixins";

.sidebar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    background-color: $bg-color-secondary;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
    z-index: 10;

    @include bp(desktop) {
        flex-direction: column;
        top: 0;
        height: 100%;
        width: 86px;
        padding: 12px 0;
    }

    @include bp(mobile) {
        flex-direction: row;
        bottom: 0;
        height: 86px;
        width: 100%;
    }
}

.user-image,
.settings {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
    line-height: 60px;
    background: linear-gradient(-180deg, #fcf7f8 0%, #f3f4f7 55%);
    color: $action-color-darker;
    box-shadow: 1px 2px 8px hsla(hue($action-color), 100%, 25%, 0.25);
    transition-property: transform, box-shadow;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include bp(desktop) {
        margin: 0 auto;
    }

    @include bp(mobile) {
        margin: 12px 48px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 1px 4px 12px hsla(hue($action-color), 100%, 25%, 0.25);
    }
}

.button-container {
    width: 104px;
    height: 104px;
    border-radius: 104px;
    background-color: $bg-color-secondary;

    @include bp(mobile) {
        position: relative;
        bottom: 16px;
    }

    .action-button {
        position: relative;
        top: 16px;
        left: 16px;
    }
}
