@import "./fonts";
@import "./colors";
@import "./mixins";
@import "./book";
@import "./bookshelf";
@import "./sidebar";
@import "./modal";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: $primary-font;
}

body {
    color: $text-color;
    background-color: $bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 0 1px 2px rgba($text-color, 0.1);
    margin: 0.25em 0;
}

h1 {
    margin: 0.75em 0;
}

.library {
    @include bp(desktop) {
        margin: 0 auto;
        width: 960px;
        max-width: calc(100% - 280px);
    }

    @include bp(mobile) {
        width: 100%;
        margin: 0 48px 112px 48px;
    }

    & > div {
        margin-bottom: 16px;
    }
}
