@import "./fonts";
@import "./colors";
@import "./mixins";
@import "./book";
@import "./sidebar";
@import "./modal";
@import "./form";
@import "./buttons";

* {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    box-sizing: border-box;
}

body {
    color: $text-color;
    background-color: $bg-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 0 1px 2px rgba($text-color, 0.1);
    margin: 0.25em 0;
}

h1 {
    margin: 0.75em 0;
}

.library {
    @include bp(desktop) {
        margin-left: 160px;
    }

    @include bp(mobile) {
        width: 100vw;
        padding: 0 0 112px 48px;
    }

    & > div {
        margin-bottom: 16px;
    }
}

.bookshelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include bp(mobile) {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    & > * {
        margin-right: 32px;
        padding-bottom: 24px;
    }

    & > *:last-child {
        box-sizing: content-box;
        padding-right: 24px;
    }
}

// Dual Ring spinner from https://loading.io/css/
// used under CC0 license
.spinner {
    text-align: center;
    color: $text-color-secondary;
}

.spinner::before {
    content: " ";
    display: block;
    width: 48px;
    height: 48px;
    margin: 8px auto 12px;
    border-radius: 50%;
    border: 4px solid $action-color;
    border-color: $action-color transparent $action-color transparent;
    animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
